######################
# Core XenForo Files #
######################
/.htaccess
/admin.php
/admindav.php
/css.php
/deferred.php
/fb_channel.php
/htaccess.txt
/index.php
/payment_callback.php
/proxy.php
/rgba.php
/sitemap.php
/data/*
/install/*
/internal_data/*
/js/flot/*
/js/index.html
/js/jquery/*
/js/redactor/*
/js/sortable/*
/js/swfupload/*
/js/xenforo/*
/library/.htaccess
/library/Lgpl/*
/library/Minify/*
/library/Sabre/*
/library/XenForo/*
/library/Zend/*
/library/config.php
/library/config.php.default
/library/index.html
/styles/default/*
/styles/index.html

######################
#   Project Files    #
######################
/.idea